@model TeamCatHotel.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Cliente</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="idPersona" />
        <div class="form-group">
            <label asp-for="apellidos" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="apellidos" class="form-control" />
                <span asp-validation-for="apellidos" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="codigoPostal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="codigoPostal" class="form-control" />
                <span asp-validation-for="codigoPostal" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="correoElectronico" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="correoElectronico" class="form-control" />
                <span asp-validation-for="correoElectronico" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="direccion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="localidad" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="localidad" class="form-control" />
                <span asp-validation-for="localidad" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="nif" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="nif" class="form-control" />
                <span asp-validation-for="nif" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="nombre" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="pais" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="pais" class="form-control" />
                <span asp-validation-for="pais" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="provincia" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="provincia" class="form-control" />
                <span asp-validation-for="provincia" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="telefono" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="numeroTarjeta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="numeroTarjeta" class="form-control" />
                <span asp-validation-for="numeroTarjeta" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
